*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: #ededed;
}

ul {
    margin: 2.5rem auto;
    padding: 0;
}

/* JOB ITEM */

li.job-item h3{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

li.job-item {
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
}

li.job-item button {
    color: #fff;
    background-color: black;
    cursor: pointer;
    padding: .5rem;
}

li.job-item input {
    padding: .5rem;
} 

.loading {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

input {
    font-size: 1rem;
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}
